<!DOCTYPE html>
<html lang="en" ng-app="patientPapers">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Learn about your patients">
  <meta name="author" content="James Vickery, Beowulf Horn, Jack Brazier">

  <title>PatientPapers</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
  <link href="css/loader.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Roboto" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="app.js"></script>

</head>

<body id="page-top" ng-controller="PatientPapersController as patientPapers">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href=".">PatientPapers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://github.com/bahorn/oxfordhack17" target="_blank">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white" ng-show="disp.headerBlock" ng-cloak>
    <div class="container text-center">
      <h1>Welcome to PatientPapers</h1>
      <p class="lead">Try searching for a patient below</p>
    </div>
  </header>

  <header class="bg-danger text-white" ng-show="disp.errorBox" ng-cloak>
    <div class="container text-center">
      <h1>Hmm…</h1>
      <p class="lead">Something wasn't quite right with that request. Try a new search query</p>
    </div>
  </header>

  <div class="bg-light text-dark" ng-show="disp.conditionView" ng-cloak>
    <br>
    <br>
    <br>
  </div>

  <!-- Search box -->
  <div class="bg-light text-dark">
    <div class="container">
      <div class="narrow">
        <form ng-submit="getPatient()">
          <br>
          <div class="form-group input-group">
            <input type="text" class="form-control" autocomplete="off" ng-model="search.q">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="getPatient()" style="cursor:pointer">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Loading spinner -->
  <div class="bg-light text-dark">
    <div class="container" ng-show="disp.loadingSpinner" ng-cloak>
      <div class="narrow" style="height:80px">
        <div class="loader">Loading…</div>
      </div>
    </div>
  </div>


  <!-- Search results table -->
  <div class="bg-light text-dark">
    <div class="container" ng-show="disp.searchResults" ng-cloak>
      <div class="narrow">
        <table class="table-hover list-table">
          <thead>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Birth Date</th>
          </thead>
          <tbody>
            <tr ng-repeat="patient in patientList" ng-click="loadPatient(patient.id)" class="patient-list-row">
              <td data-label="Name">{{patient.name}}</td>
              <td data-label="Gender">{{patient.gender}}</td>
              <td data-label="Birth Date">{{patient.birthdate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Patient view -->
  <div class="bg-light text-dark">
    <div class="container" ng-show="disp.patientView" ng-cloak>
      <div class="narrow">
        <hr>
        <center>
          <h2>{{patient.name}}</h2>
          <p>
            <strong>{{patient.gender}}</strong> | DOB:
            <strong>{{patient.birthdate}}</strong>
          </p>
          <p class="text-danger" ng-show="patient.dead" ng-cloak>Death date:
            <strong>{{patient.deathDate}}</strong>
          </p>
        </center>
        <hr>

        <h3>Conditions:</h3>
        <table>
          <thead>
            <th scope="col">Condition</th>
            <th scope="col">Since</th>
          </thead>
          <tbody>
            <tr ng-repeat="cond in patient.conditions" ng-click="loadCondition(cond.condition)" style="cursor:pointer">
              <td data-label=Condition>{{cond.condition}}</td>
              <td data-label=Since>{{cond.onset.slice(0,10)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- Condition view -->
    <div class="bg-light text-dark">
      <div class="container" ng-show="disp.conditionView" ng-cloak>
        <div class="narrow">
          <br>
          <div ng-click="backFromCondition()">
            <button class="btn btn-default" type="button" aria-expanded="false" style="cursor:pointer">← Back</button>
          </div>
          <br>
          <div class="condition-block" ng-repeat="paper in conditions">
            <h2>{{paper.title}}</h2>
            <p>{{paper.abstract}}</p>
            <p class="right-align">
              <em>Read more at
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{paper.pmid}}" target="_blank">ncbi.nlm.nih.gov/pubmed/{{paper.pmid}}</a>
              </em>
            </p>
            <hr>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>


    <!-- Light gap -->
    <div class="bg-light text-dark">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>


    <!-- Footer -->
    <!-- <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; PatientPapers 2017</p>
    </div>
  </footer> -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

</body>

</html>