html,
body {
  height: 100%;
  margin: 0;
}

body {
    height: 100%;
    background-color:#f8f9fa;
}

.narrow {
    max-width: 700px;
    margin: auto;
}

.navbar-brand,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Averia Serif Libre', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

input {
    text-align: center;
}

.list-table {
    width: 100%;
}

.list-table td, th{
    padding: 10px 20px;
}
